body{  background-color:#2424F0;
/* box-sizing: border-box; */

}
.container{
 
  margin: auto;  
}
.App {
  text-align: center;
  margin: auto;  
}
 
.theform{
  margin: auto;   
 background-color:#FAFA34;
  width: 350px; 
  
 }  

 .theform button{
  width:  100%;
 }



.test100{
  margin: auto;
width: 110px;
height: 110px;
background-color: aliceblue;
}

.note-in-pack {
  text-align: left;
  background-color: rgb(255, 255, 255);
  } 

.note-in-pack:hover{
background-color: rgb(235, 247, 255);
}




.note-pack{
  display: flex;
  justify-content: space-around;
}

.note{
  width: 200px;  
 
}

 
.note-list-header {

  display: flex;
}


.note-date{
  font-size: 10px;
  font-weight: bold;
}


/* .theform{
 margin: auto;   
background-color:#FAFA34;
 width: 350px; 
 
} */



.



 
.note-date{
  font-size: 10px;
}



.trashIcon {
  cursor:pointer  ;
float: right;
}